.ipynb_checkpoints/
data.tar.gz
spiegel.csv
sz.csv
taz.csv
welt.csv
zeit.csv
articles.csv
data/articles/temp/data/spiegel.csv
data/opendiscourse/speeches.pkl
data/opendiscourse/sub_speeches.csv
data/opendiscourse/contributions_extended.pkl
data/opendiscourse/contributions_simplified.pkl
data/opendiscourse/sub_speeches.pkl.zip
data/opendiscourse/parliament_speeches.pkl
data/opendiscourse/parliament_speeches_uncut.pkl
data/opendiscourse/sub_speeches.pkl
kaggle_outputs.zip
data/opendiscourse/parliament_speeches.zip
data/opendiscourse/parliament_speeches_uncut.zip
data/opendiscourse/kaggle_outputs/kaggle_outputs.zip
data/opendiscourse/sub_speeches.zip
*.pkl
